In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2   The Spider and the Fly  1949
3                  Country  2000
4          The Golden Note  2017

In [19]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [5]:
### How many movies are listed in the titles dataframe?

In [6]:
len(titles)

240610

### What are the earliest two films listed in the titles dataframe?

In [7]:
a=titles.sort_values("year").head(2)
a

                     title  year
184143          Miss Jerry  1894
222909  The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [8]:
b = titles[titles.title=="Hamlet"]
b

         title  year
6195    Hamlet  1948
50969   Hamlet  2017
54536   Hamlet  1910
77593   Hamlet  2015
95242   Hamlet  1976
95595   Hamlet  1969
97516   Hamlet  1987
97717   Hamlet  2000
101899  Hamlet  1921
132936  Hamlet  1954
163754  Hamlet  1990
172409  Hamlet  1913
182426  Hamlet  2009
186241  Hamlet  2016
189513  Hamlet  1964
208427  Hamlet  1996
214916  Hamlet  2011
217339  Hamlet  1911
229360  Hamlet  1973
231550  Hamlet  2014

In [9]:
len(b)

20

### How many movies are titled "North by Northwest"?

In [10]:
c=titles[titles.title=="North by Northwest"]
len(c)

1

### When was the first movie titled "Hamlet" made?

In [11]:
d=titles["year"][titles["title"] == "Hamlet"]
d.min()

1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [12]:
e=titles[titles.title=="Treasure Island"].sort_values("year")
e

                  title  year
213344  Treasure Island  1918
53037   Treasure Island  1920
215023  Treasure Island  1934
100171  Treasure Island  1950
79803   Treasure Island  1972
115184  Treasure Island  1973
212692  Treasure Island  1985
185793  Treasure Island  1999

### How many movies were made in the year 1950?

In [13]:
f=titles[titles.year==1950]
len(f)

1113

### How many movies were made in the year 1960?

In [14]:
g=titles[titles.year==1960]
len(g)

1539

### How many movies were made from 1950 through 1959?

In [15]:
h=titles[(titles.year >= 1950) & (titles.year <= 1959)]
len(h)

12899

### In what years has a movie titled "Batman" been released?

In [16]:
i=titles[titles.title=="Batman"]
i

        title  year
57916  Batman  1989
77090  Batman  1943

### How many roles were there in the movie "Inception"?

In [17]:
j=cast[cast.title=="Inception"]
len(j)

78

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [20]:
k=cast[cast.title=="Inception"][cast.n.isnull()]
len(k)

C:\Users\Arun\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

27

### But how many roles in the movie "Inception" did receive an "n" value?

In [22]:
l=cast[cast.title=="Inception"]
len(l) - len(k)

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [33]:
m=cast[cast.title=="North by Northwest"][cast.n.notnull()].sort_values("n")
m

C:\Users\Arun\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,title,year,name,type,character,n
878159,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3519386,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1468293,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3165145,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
359523,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
3058498,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1708175,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1284972,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2465976,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1825253,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
670955,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2313445,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
468297,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1519978,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
208110,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1395267,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [37]:
o=cast[cast.title=="Sleuth"][cast.year==1972].sort_values("n")
o

C:\Users\Arun\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,title,year,name,type,character,n
1718496,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
329315,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
376844,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1476671,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2740431,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1459747,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [38]:
p=cast[cast.title=="Sleuth"][cast.year==2007].sort_values("n")
p

C:\Users\Arun\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

          title  year                 name     type          character    n
329316   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1303400  Sleuth  2007             Jude Law    actor               Milo  2.0
1819744  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
262254   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
376845   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2740430  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3374312  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [40]:
q=cast[cast.title=="Hamlet"][cast.year==1921]
len(q)

C:\Users\Arun\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [42]:
r=cast[cast.title=="Hamlet"][cast.year==1996]
len(r)

C:\Users\Arun\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [43]:
s=cast[cast.title=="Hamlet"]
len(s)

342

### How many people have played an "Ophelia"?

In [44]:
t=cast[cast.character=="Ophelia"]
len(t)

115

### How many people have played a role called "The Dude"?

In [46]:
u=cast[cast.character=="The Dude"]
len(u)

19

### How many people have played a role called "The Stranger"?

In [47]:
v=cast[cast.character=="The Stranger"]
len(v)

214

### How many roles has Sidney Poitier played throughout his career?

In [48]:
w=cast[cast.name=="Sidney Poitier"]
len(w)

43

### How many roles has Judi Dench played?

In [49]:
x=cast[cast.name=="Judi Dench"]
len(x)

54

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [53]:
y=cast[(cast.name=="Cary Grant") & (cast.year >= 1940) & (cast.year < 1950) & (cast.n==2)].sort_values("year")
y

                   title  year        name   type    character    n
878156  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
878166    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [55]:
z=cast[(cast.name=="Cary Grant")&(cast.year>=1940)&(cast.year<1950)]
z

,title,year,name,type,character,n
878123,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
878131,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
878135,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
878138,George White's Scandals,1945,Cary Grant,actor,Cary Grant,NaN
878140,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
878144,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0
878154,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
878155,Mr. Lucky,1943,Cary Grant,actor,Joe Adams -posing as Joe Bascopolous,1.0
878156,My Favorite Wife,1940,Cary Grant,actor,Nick Arden,2.0
878157,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
878158,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
878160,Notorious,1946,Cary Grant,actor,Devlin,1.0
878162,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
878163,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
878166,Penny Serenade,1941,Cary Grant,actor,Roger Adams,2.0
878171,Suspicion,1941,Cary Grant,actor,Johnnie Aysgarth,1.0
878177,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
878178,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
878181,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
878183,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
878185,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
878199,Without Reservations,1946,Cary Grant,actor,Cary Grant,NaN

### How many roles were available for actors in the 1950s?

In [57]:
a1=cast[(cast.type=="actor")&(cast.year>=1940)&(cast.year<1950)]
len(a1)

162477

### How many roles were available for actresses in the 1950s?

In [58]:
b1=cast[(cast.type=="actress")&(cast.year>=1940)&(cast.year<1950)]
len(b1)

51593

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [59]:
c1=cast[(cast.n==1)&(cast.year<=1980)]
len(c1)

65025

### How many non-leading roles were available through from the beginning of film history through 1980?

In [60]:
d1=cast[(cast.n!=1)&(cast.year<=1980)]
len(d1)

1116119

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [70]:
e1=cast
e1=e1[cast.year<=1980]
e1=e1[cast.n.isnull()]
len(e1)

C:\Users\Arun\Anaconda2\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

447797